---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Learn more about me"
	pubDate={new Date('April 29 2026')}
	heroImage={AboutHeroImage}
>
	<p>
		Hello! Welcome to my personal blog. I'm passionate about writing and sharing what I learn.
		This blog is a place where I document my journey, share insights, and connect with like-minded people.
	</p>

	<p>
		Feel free to explore my posts. If you want to get in touch, you can find my contact information
		on this page or reach out through social media.
	</p>

	<p>
		Thanks for visiting!
	</p>
</Layout>
